



<pre>
<%= @a[0] %>
<%= @a[1] %>
<%= @a[2] %>
<%= @a[3] %>
<%= @a[4] %>
<%= @a[5] %>
<%= @a[6] %>
<%= @a[7] %>
<%= @a[8] %>
</pre>

<pre>
    <%= @a[10] %>
    <p>1</p>
    <%= @a[11] %>
    <p>2</p>
    <%= @a[12] %>
    <p>3</p>
    <%= @a[13] %>
    <p>4</p>
    <%= @a[14] %>
    <p>5</p>
    <%= @a[15] %>
    <p>6</p>
    <%= @a[16] %>
  <p>7</p>
  <%= @a[17] %>
  <p>8</p>
  <%= @a[19] %>
  <p>9</p>
  <%= @a[19] %>
</pre>


<pre>
<%== @a[20].encode( 'UTF-8', 'koi8-r' ) %>
  <%== @a[21].encode( 'UTF-8', 'koi8-r' ) %>



</pre>