<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>заявка для группы <%= @group.name %></h3>
<p>
  На группу <%= @group.name %> была выставлена заявка от <%= @initiator.login %>

  Тема: <%= @ticket.topic %> <br/>
  Текст: <%= @ticket.text %> <br/>

</p>
<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @url %>.
</p>

</body>
</html>