<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<% if @mail_data[:type_email] == "rcpt" %>
    <h3>Заявка для группы <%= @mail_data[:group_name] %></h3>
    <p>
      На группу <%= @mail_data[:group_name] %> была выставлена заявка от <%= @mail_data[:initiator_login] %> <br/>

      Тема: <%= @mail_data[:ticket_topic] %> <br/>
      Текст: <%= @mail_data[:ticket_text] %> <br/>

    </p>
<% else %>



<% end %>


<%= debug @mail_data %>

<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @mail_data[:url] %>.
</p>

</body>
</html>