<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<% if @type_email == "rcpt" %>
    <h3>Заявка для группы <%= @group.name %></h3>
    <p>
      На группу <%= @group.name %> была выставлена заявка от <%= @initiator.login %> <br/>

      Тема: <%= @ticket.topic %> <br/>
      Текст: <%= @ticket.text %> <br/>

    </p>
<% else %>

    <h3>Ваша заявка для группы <%= @group.name %> принята</h3>
    <p>
      От вас на группу <%= @group.name %> была выставлена заявка<br/>

      Тема: <%= @ticket.topic %> <br/>
      Текст: <%= @ticket.text %> <br/>
      <br/>
      Текущий состав группы (возможные исполнители):
      <% @members.each do |member| %>
      - <%= member.login %> (<%= member.f_name member.i_name member.o_name %>)
      <% end %>



    </p>



<% end %>
<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @url %>.
</p>

</body>
</html>