<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h3><%= @mail_data[:created_at] %> <%= @mail_data[:sndr_fio] %> написал:</h3>

<p>
  Текст: <%== @mail_data[:comment_text] %> <br/>
</p>

<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @mail_data[:url] %>.

  Вы получили данное письмо, т.к. ваш статус в данной заявке: <%= @mail_data[:user_status] %>.
</p>

</body>
</html>