<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
    Пользователь <%= @mail_data[:sndr_f_name] %> <%= @mail_data[:sndr_i_name] %> <%= @mail_data[:sndr_o_name] %> (<%= @mail_data[:sndr_login] %>) <br />
    установил процент выполнения заявки '<%= @mail_data[:comment_topic] %>' (#<%= @mail_data[:type_comment] %>_<%= @mail_data[:ticket_id] %>) <br />
    в <%= @mail_data[:completed] %>%
</p>

<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @mail_data[:url] %>.
</p>

</body>
</html>