<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>

<%= debug @group_tickets %>



<p>
  <a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>
</p>


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие персональные</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Срок исполнения</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @user_tickets.each do |user_tickets| %>
      <% user_data = User.find(user_tickets.initiator_id) %>
      <tr
        <%= (user_tickets.actual == true)?"class=success":"" %>
      >
       <td><%= user_data.login %></td>
        <td><%= user_tickets.topic %></td>
        <td><%= user_tickets.deadline.strftime("%d-%m-%Y") %></td>
        <td>
          <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/u_<%= user_tickets.id %>"><i class="icon-edit"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие групповые</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th class="span3">Группа</th>
    <th>Тема</th>
    <th class="span2">Срок исполнения</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @group_tickets.each do |group_tickets| %>
      <% user_data = User.find(group_tickets.initiator_id) %>
      <% executor_data = (group_tickets.executor == 0)?"":User.find(group_tickets.executor) %>
      <% group_data = Group.find(group_tickets.group_id) %>
      <tr
        <%= (group_tickets.actual == true)?"class=success":"" %>
      >
        <td><%= user_data.login %></td>
        <td><%= group_data.name %><%= (group_tickets.executor == 0)?" (не назначен)":" (#{executor_data.login})" %></td>
        <td><%= group_tickets.topic %></td>
        <td><%= group_tickets.deadline.strftime("%d-%m-%Y") %></td>
        <td>
          <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= group_tickets.id %>"><i class="icon-edit"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


