<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>




<ul class="nav nav-tabs">
  <li class="active">
    <a href="/tickets/in">Входящие</a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие</a>
  </li>
  <li>
    <a href="/tickets/ticket_new/">Новая заявка</a>
  </li>
</ul>

<!--<p>-->
  <!--<a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>-->
<!--</p>-->


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие персональные</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Дата заявки</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @form_data[:user_tickets].each do |user_tickets| %>
      <% user_data = User.find(user_tickets.initiator_id) %>
      <tr
        <%= (user_tickets.actual == 1)?"class=success":"" %>
      >
       <td><%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</td>
        <td style="cursor: pointer" onclick="ticket_open('u', <%= user_tickets.id %>)" ><%= user_tickets.topic %></td>
        <td><%= user_tickets.created_at.strftime("%d-%m-%Y") %></td>
        <td>
          <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/u_<%= user_tickets.id %>"><i class="icon-edit"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<table id="tbl-in-group" name="tbl-in-group" class="table table-hover table-bordered table-condensed">
  <caption>Входящие групповые</caption>
  <thead>
      <tr>
        <th style="width: 20px" ></th>
        <th class="span3">Инициатор</th>
        <th class="span2">Группа</th>
        <th>Тема</th>
        <th class="span1">Участники</th>
        <th class="span2">Дата заявки</th>
        <th class="span1">..............................</th>
      </tr>
  </thead>
  <tbody>
  <% @form_data[:group_tickets].each do |group_tickets| %>
      <% user_data = User.find(group_tickets.initiator_id) %>
      <% executor_data = (group_tickets.executor == 0)?"":User.find(group_tickets.executor) %>
      <% group_data = Group.find(group_tickets.group_id) %>
      <tr
        <%= (group_tickets.actual == 1)?"class=success":"" %>
      >
        <td colspan="2"><%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</td>
        <td
            <% if group_data.leader == session[:user_id] %>
                style="cursor: pointer" href="#myModal"  data-toggle="modal" onclick="group_list(<%= group_tickets.group_id %>, <%= group_tickets.id %>)"
            <% end %>
        >
            <%= group_data.abbreviation %><%== (group_tickets.executor == 0)?" <span class='label label-important'>(не назначен)</span> ":"  <span class='label label-success'>#{executor_data.login}</span>" %>
        </td>
        <td style="cursor: pointer" onclick="ticket_open('g', <%= group_tickets.id %>)" ><%= group_tickets.topic %></td>
        <td>
          <% ActualTask.where("ticket_to_group_id = ?", group_tickets.id).each do |task| %>
              <%= User.find(task.user_id).login %> <br />
          <% end %>
        </td>
        <td><%= group_tickets.created_at.strftime("%d-%m-%Y") %></td>
        <td>
          <a  class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= group_tickets.id %>"><i class="icon-edit"></i></a>
          <span class="badge" ><%= TicketComment.where("ticket_to_group_id = ?", group_tickets.id).count %></span>
          <span class="badge" ><%= group_tickets.completed %>%</span>
        </td>
      </tr>

    <% childrens = TicketChildren.where("parent_group_ticket_id = ?", group_tickets.id) %>
      <% childrens.each do |children| %>
          <% if children.children_group_ticket_id != 0 %>
            <% children_ticket = TicketToGroup.find(children.children_group_ticket_id) %>


              <% user_data = User.find(children_ticket.initiator_id) %>
              <% executor_data = (children_ticket.executor == 0)?"":User.find(children_ticket.executor) %>
              <% group_data = Group.find(children_ticket.group_id) %>
              <tr
                <%= (children_ticket.actual == 1)?"class=success":"" %>
              >
                <td><i class="icon-share-alt"></i></td>
                <td><small><%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</small></td>
                <td
                <% if group_data.leader == session[:user_id] %>
                style="cursor: pointer" href="#myModal"  data-toggle="modal" onclick="group_list(<%= children_ticket.group_id %>, <%= children_ticket.id %>)"
                <% end %>
                ><small>
                  <%= group_data.abbreviation %><%== (children_ticket.executor == 0)?" <span class='label label-important'>(не назначен)</span> ":"  <span class='label label-success'>#{executor_data.login}</span>" %>
                </small></td>
                <td style="cursor: pointer" onclick="ticket_open('g', <%= children_ticket.id %>)" ><small><%= children_ticket.topic %></small></td>
                <td><small>
                  <% ActualTask.where("ticket_to_group_id = ?", children_ticket.id).each do |task| %>
                      <%= User.find(task.user_id).login %> <br />
                  <% end %>
                  </small>
                </td>
                <td><small><%= children_ticket.created_at.strftime("%d-%m-%Y") %></small></td>
                <td><small>
                  <a  class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= children_ticket.id %>"><i class="icon-edit"></i></a>
                  <span class="badge" ><%= TicketComment.where("ticket_to_group_id = ?", children_ticket.id).count %></span>
                  <span class="badge" ><%= children_ticket.completed %>%</span>
                </small></td>
              </tr>

          <% end %>

          <% if children.children_user_ticket_id != 0 %>
            <% TicketToUser.find(children.children_user_ticket_id) %>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>



<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Назначить ответственного</h3>
  </div>
  <div class="modal-body">
    <div id="gr-list" name="gr-list">
    </div>
  </div>
  <!--<div class="modal-footer">-->
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
    <!--<button class="btn btn-primary">Save changes</button>-->
  <!--</div>-->
</div>

