<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>

<%=
   #debug  UserByGroup.groups_for_user(session[:user_id]).map{ |x| x.id}
   #debug @form_data[:other_tickets]
%>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="/tickets/in">Входящие <span class='label label-info'><%= @form_data[:my_tickets_cnt] %></span></a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие</a>
  </li>
  <li>
    <a href="/tickets/in_delay/">Отложенные <span class='label label-info'><%= @form_data[:my_tickets_delay_cnt] %></a>
  </li>
  <li>
    <a href="/tickets/ticket_new/">Новая заявка</a>
  </li>

</ul>

<!--<p>-->
  <!--<a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>-->
<!--</p>-->

<%

 #  group_tickets_map = @form_data[:group_tickets].map{ |group_ticket| group_ticket.root }
 #user_tickets_map = @form_data[:user_tickets].map{ |group_ticket| group_ticket.root }
 # tickets_map = group_tickets_map + user_tickets_map

%>

<% my_tickets_map = @form_data[:my_tickets].map{ |ticket| ticket.id } %>
<% other_tickets_map = @form_data[:other_tickets].map{ |ticket| ticket.id } %>



<table id="tbl-in-group" name="tbl-in-group" class="table table-hover table-bordered table-condensed table-striped">
    <caption>Моя работа</caption>
    <thead>
    <tr>
      <th class="span4">Инициатор</th>
      <th class="span2">Ответственный</th>
      <th>Тема</th>
      <th class="span1">Участники</th>
      <th class="span2">Дата заявки</th>
      <th class="span1">..............................</th>
    </tr>
    </thead>
    <tbody>

        <% @form_data[:my_tickets].each do |my_ticket| %>

            <% ancestors = my_ticket.ancestors %>
            <% if ancestors.size != 0  %>
                <% @visual = 1 %>
                <% ancestors.each do |ancestor| %>
                    <%
                       if  my_tickets_map.include?  ancestor.id
                         @visual = 0
                       end
                    %>
                <% end %>
                <% if @visual == 0 %>
                    <% next %>
                <% end %>
            <% end %>

            <%=
                @my_ticket = my_ticket
                render template: "tickets/tpl_row_ticket"
            %>


        <% end %>

    </tbody>
</table>



<table id="tbl-in-group" name="tbl-in-group" class="table table-hover table-bordered table-condensed table-striped">
  <caption>Прочие заявки</caption>
  <thead>
  <tr>
    <th class="span4">Инициатор</th>
    <th class="span2">Ответственный</th>
    <th>Тема</th>
    <th class="span1">Участники</th>
    <th class="span2">Дата заявки</th>
    <th class="span1">..............................</th>
  </tr>
  </thead>
  <tbody>

  <% @form_data[:other_tickets].each do |my_ticket| %>

      <% ancestors = my_ticket.ancestors %>
      <% if ancestors.size != 0  %>
          <% @visual = 1 %>
          <% ancestors.each do |ancestor| %>
              <%
                 if  other_tickets_map.include?  ancestor.id
                   @visual = 0
                 end
              %>
          <% end %>
          <% if @visual == 0 %>
              <% next %>
          <% end %>
      <% end %>

      <%=
          @my_ticket = my_ticket
          render template: "tickets/tpl_row_ticket"
      %>


  <% end %>

  </tbody>
</table>




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Назначить ответственного</h3>
  </div>
  <div class="modal-body">
    <div id="gr-list" name="gr-list">
    </div>
  </div>
  <!--<div class="modal-footer">-->
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
    <!--<button class="btn btn-primary">Save changes</button>-->
  <!--</div>-->
</div>

