<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>




<ul class="nav nav-tabs">
  <li class="active">
    <a href="/tickets/in">Входящие</a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие</a>
  </li>
  <li>
    <a href="/tickets/ticket_new/">Новая заявка</a>
  </li>
</ul>

<!--<p>-->
  <!--<a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>-->
<!--</p>-->


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие персональные</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Срок исполнения</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @user_tickets.each do |user_tickets| %>
      <% user_data = User.find(user_tickets.initiator_id) %>
      <tr
        <%= (user_tickets.actual == 1)?"class=success":"" %>
      >
       <td><%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</td>
        <td style="cursor: pointer" onclick="ticket_open('u', <%= user_tickets.id %>)" ><%= user_tickets.topic %></td>
        <td><%= user_tickets.deadline.strftime("%d-%m-%Y") %></td>
        <td>
          <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/u_<%= user_tickets.id %>"><i class="icon-edit"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие групповые</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th class="span3">Группа</th>
    <th>Тема</th>
    <th class="span1">Участники</th>
    <th class="span2">Срок исполнения</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @group_tickets.each do |group_tickets| %>
      <% user_data = User.find(group_tickets.initiator_id) %>
      <% executor_data = (group_tickets.executor == 0)?"":User.find(group_tickets.executor) %>
      <% group_data = Group.find(group_tickets.group_id) %>
      <tr
        <%= (group_tickets.actual == 1)?"class=success":"" %>
      >
        <td><%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</td>
        <td
            <% if group_data.leader == session[:user_id] %>
                style="cursor: pointer" href="#myModal"  data-toggle="modal" onclick="group_list(<%= group_tickets.group_id %>, <%= group_tickets.id %>)"
            <% end %>
        >
            <%= group_data.name %><%= (group_tickets.executor == 0)?"<span class='label label-success'>(не назначен)</span>":" (#{executor_data.login})" %>
        </td>
        <td style="cursor: pointer" onclick="ticket_open('g', <%= group_tickets.id %>)" ><%= group_tickets.topic %></td>
        <td>
          <% ActualTask.where("ticket_to_group_id = ?", group_tickets.id).each do |task| %>
              <%= User.find(task.user_id).login %> <br />
          <% end %>
        </td>
        <td><%= group_tickets.deadline.strftime("%d-%m-%Y") %></td>
        <td>
          <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= group_tickets.id %>"><i class="icon-edit"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Назначить ответственного</h3>
  </div>
  <div class="modal-body">
    <div id="gr-list" name="gr-list">
    </div>
  </div>
  <!--<div class="modal-footer">-->
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
    <!--<button class="btn btn-primary">Save changes</button>-->
  <!--</div>-->
</div>

