<%= javascript_include_tag "tickets" %>


<p>
  <a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>
</p>




<table class="table table-hover table-bordered table-condensed">
  <caption>Исходящие</caption>
  <thead>
  <tr>
    <th class="span3">Исполнитель</th>
    <th>Тема</th>
    <th class="span2">Срок исполнения</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  <% @my_tickets.each do |my_tickets| %>
      <% if my_tickets.respond_to?(:groups_id)  %>
          <% user_data = User.find(my_tickets.initiator_id) %>
          <% group_data = Group.find(my_tickets.group_id) %>
          <tr>
            <td><%= group_data.name %></td>
            <td><%= my_tickets.topic %></td>
            <td><%= my_tickets.deadline.strftime("%d-%m-%Y") %></td>
            <td>
              <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= my_tickets.id %>"><i class="icon-edit"></i></a>
            </td>
          </tr>
      <% else  %>
          <% user_data = User.find(my_tickets.initiator_id) %>
          <tr>
            <td><%= user_data.login %></td>
            <td><%= my_tickets.topic %></td>
            <td><%= my_tickets.deadline.strftime("%d-%m-%Y") %></td>
            <td>
              <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/u_<%= my_tickets.id %>"><i class="icon-edit"></i></a>
            </td>
          </tr>
      <% end  %>


  <% end %>
  </tbody>
</table>