<%= javascript_include_tag "main" %>
<%= javascript_include_tag "ticket_new" %>

<ul class="nav nav-tabs">
  <li>
    <a href="/tickets/in">Входящие</a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие</a>
  </li>
  <li class="active">
    <% if @form_data[:main_ticket] != nil %>
        <a href="/tickets/ticket_new/">Новая вложенная заявка</a>
    <% else %>
        <a href="/tickets/ticket_new/">Новая заявка</a>
    <% end %>
  </li>
</ul>



<form class="form-horizontal" id="ticket_new" novalidate="">

  <fieldset>
    <% if @form_data[:root_ticket] != nil %>
        <div class="control-group">
          <label class="control-label">Основная заявка</label>
          <div class="controls">
            <input type="text" style="width:65%;" value="<%= @form_data[:ticket].topic %>" disabled>
            <a class="btn" href="/tickets/ticket_edit/<%= @form_data[:root_ticket].ticket_type %>_<%= @form_data[:ticket].id %>" > <i class="icon-share-alt"></i> </a>
          </div>
        </div>

        <input type="hidden"  id="inputRootTicket" name="inputRootTicket" value="<%= @form_data[:root_ticket].id %>" >

    <% end %>

    <div class="control-group">
      <label class="control-label" for="inputIsp">Исполнитель</label>
      <div class="controls">
        <select  id="inputIsp" name="inputIsp">
          <option value="">-Группы-</option>
          <% @groups.each do |group| %>
              <option id="g_<%= group.id %>" name="g_<%= group.id %>" value="g_<%= group.id %>" ><%= group.name %></option>
          <% end %>
            <option value="">-Пользователи-</option>
          <% @users.each do |user| %>
              <option id="u_<%= user.id %>" name="g_<%= user.id %>" value="u_<%= user.id %>" ><%= user.f_name %> <%= user.i_name %> <%= user.o_name %></option>
          <% end %>

        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <textarea rows="7" id="inputText" name="inputText" style="width:70%;">  </textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDateTo">Исполнить до</label>
      <div class="controls">
        <input type="text" id="inputDateTo" name="inputDateTo" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputFiles">Файлы</label>
      <div class="controls">
        <input type="text" value="Прикрепление файлов возможно после записи заявки" style="width:70%;" disabled="disabled" >
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>