<%= javascript_include_tag "main" %>
<%= javascript_include_tag "ticket_edit_g" %>



<ul class="nav nav-tabs">
  <li>
    <a href="/tickets/in">Входящие <span class='label label-info'><%= @form_data[:my_tickets_cnt] %></a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие <span class='label label-info'><%= @form_data[:out_tickets_cnt] %></a>
  </li>
  <li>
    <a href="/tickets/in_delay/">Отложенные <span class='label label-info'><%= @form_data[:my_tickets_delay_cnt] %></a>
  </li>
  <li class="active">
    <a>Заявка № g_<%= @ticket.id %> от <%= @ticket.created_at.strftime("%d-%m-%Y") %></a>
  </li>

  <li class="nav  pull-right dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
      Действия
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a onclick="show_set_delay()" >Отложить</a>
        <% if Time.now < (TicketRoot.find(@ticket.root).delay || "1000-01-01 00:00:00") %>
            <a onclick="set_delay_off()" >Вернуть из отложенных</a>
        <% end %>
      </li>
    </ul>
  </li>

  <li class="nav pull-right dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
      Новая вложенная заявка
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/tickets/ticket_new/g_<%= @ticket.id %>">Заявка на работы</a>
        <a href="/supply/supply_new/g_<%= @ticket.id %>">Заявка на поставку</a>
      </li>
    </ul>
  </li>

</ul>





<form class="form-horizontal" id="ticket_edit_g" novalidate="">

  <fieldset>

    <% if Time.now < (TicketRoot.find(@ticket.root).delay || "1000-01-01 00:00:00") %>
       <div class="control-group">
          <label class="control-label" for="inputStatusDelay"></label>
          <div class="controls">
            Заявка отложена до <span class='label label-important' ><%= TicketRoot.find(@ticket.root).delay.strftime("%d-%m-%Y %H:%M") %></span> <button class="btn btn-mini btn-danger" type="button" onclick="set_delay_off()" ><i class=" icon-ban-circle"></i></button>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="inputInit">Инициатор</label>
      <div class="controls">
        <input type="text"  id="inputInit" name="inputInit" style="width:70%;" readonly="readonly" value="<%= @initiator.f_name %> <%= @initiator.i_name %> <%= @initiator.o_name %> (<%= @initiator.login %>)" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputIsp">Группа</label>
      <div class="controls">
        <input type="text"  id="inputIsp" name="inputIsp" style="width:70%;" readonly="readonly" value="<%= @group.name %>" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;" readonly="readonly" value="<%= @ticket.topic %>" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <% new_str = @ticket.text.gsub(/<style>/m, '' )
           new_str.gsub!('style', '' )
        %>
        <div class="well" style="width:70%;"  ><%== new_str %></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Файлы</label>
      <div class="controls">
        <div class="well" style="width:70%;"  >
          <% attaches = Attach.where("object_type = ? and object_id = ?", "group_ticket", @ticket.id) %>

          <% attaches.each_with_index do |attach, i| %>
              <%= link_to attach.original_filename,:action => :download, :file_name => attach.filename %> <br />
          <% end  %>

        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">В календарь</label>
      <div class="controls">
        <input type="checkbox" id="inScheduler" name="inScheduler" onclick="change_in_scheduler(<%= @ticket.id %>)" >

        <div id="startSchedulerDiv" class="input-append date">
            <input data-format="dd/MM/yyyy hh:mm" type="text" id="startScheduler" name="startScheduler" >
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>>
        </div>

        <div id="stopSchedulerDiv" class="input-append date">
          <input data-format="dd/MM/yyyy hh:mm" type="text" id="stopScheduler" name="stopScheduler" >
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>>
        </div>


      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDateTo">Исполнить до</label>
      <div class="controls">
        <input type="text" id="inputDateTo" name="inputDateTo"  readonly="readonly" value=<%= @ticket.deadline.strftime("%d.%m.%Y") %> >
      </div>
    </div>

    <% if @ticket.executor == session[:user_id] || @group.leader == session[:user_id] %>
        <div class="control-group">
          <label class="control-label" for="inputCompleted">% выполнения</label>
          <div class="controls">
            <%= select_tag(:inputCompleted,options_for_select([['0%', 0],['10%', 10],['20%', 20],['30%', 30],['40%', 40],['50%', 50],['60%', 60],['70%', 70],['80%', 80],['90%', 90],['100%', 100]],@ticket.completed),
                           ) %>
            <button type="button" class="btn" onclick="change_status(<%= @ticket.id %>)" >Сохранить</button>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="inputActual">Текущая задача</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="inputActual" name="inputActual"  onclick="change_actual(<%= @ticket.id %>)"
             <% if ActualTask.is_actual_g(session[:user_id], @ticket.id) == 1 %>
               checked = "checked"
             <% end %>
          >
        </label>
      </div>
    </div>


    <% if @group.leader == session[:user_id] %>
        <div class="control-group">
          <label class="control-label" for="inputCompleted">Назначить исполнителя</label>
          <div class="controls">

            <%== (@ticket.executor == 0)?"<span class='label label-important'>Не назначен</span>":"<span class='label label-success'>#{User.find(@ticket.executor).login}</span>" %>
            <%
              users = UserByGroup.users_in_group(@group.id)
              categores = users.map { |user| [user.login, user.id] }
            %>

            <%= select_tag(:executor, options_for_select(categores, @ticket.executor) ) %>
            <button type="button" class="btn" onclick="change_executor_leader(<%= @ticket.id %>)">Сохранить</button>
          </div>
        </div>

    <% else %>
        <% if @ticket.executor == 0 %>
            <div class="control-group">
              <label class="control-label" for="inputCompleted">Назначить исполнителя</label>
              <div class="controls">
                <button type="button" class="btn btn-success" onclick="change_executor_member(<%= @ticket.id %>)">Принять задачу в исполнение</button>
              </div>
            </div>
        <% else %>
            <% executor = User.find(@ticket.executor)  %>
            <div class="control-group">
              <label class="control-label" for="inputCompleted">Исполнитель</label>
              <div class="controls">

                <span class='label label-success'><%= executor.login %></span>
                (<%= executor.f_name %> <%= executor.i_name %> <%= executor.o_name %>)
              </div>
            </div>
        <% end %>
    <% end %>
  </fieldset>
</form>


<hr />

<h4>Комментарии:</h4>

<div class="well" style="background-color: #FFFFCC; padding-bottom: 0px;" >




<!--<form class="form-horizontal" id="comment_new" novalidate="">-->
<form class="form-horizontal" id="comment_new" method="post" action="/tickets/srv_comment_g_new" enctype="multipart/form-data" style="margin-bottom: 0px"  >
  <fieldset>
    <input type="hidden"  id="ticket_id" name="ticket_id" value=<%= @ticket.id %> >
    <div class="control-group">
      <label class="control-label" for="inputCommText">Добавить комментарий</label>
      <div class="controls">
        <textarea rows="7" id="inputCommText" name="inputCommText"  style="width:70%;"></textarea>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="inputCommFile">Приложить файлы</label>
      <div class="controls">
        <input id="inputCommFile" name="inputCommFile" type="file"  label="Select Some Files">
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Добавить комментарий</button>
      </div>
    </div>
  </fieldset>
</form>

</div>


<form class="form-horizontal" >




  <% @comments.each do |comment| %>
      <%
        user_comm = User.find(comment.user_id)
        attach = Attach.where("object_type = ? AND object_id = ?", "ticket_comment", comment.id)
      %>
      <div class="control-group">
        <label class="control-label" for="inputCommText">
          <%= user_comm.f_name %> <%= user_comm.i_name %> <%= user_comm.o_name %> (<%= user_comm.login %>)
          <br />
          <%= comment.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
        </label>
        <div class="controls">

          <% if attach.size != 0 %>
              <%= content_tag :a, :class => 'icon-envelope' do %>
                 <%= link_to attach[0].original_filename,  :action => :download, :file_name => attach[0].filename  %>
              <% end  %>
          <% end  %>

          <div>
            <%== comment.text %>
          </div>

        </div>

      </div>
  <% end %>

</form>





<div id="srv_close_ticket_comment_form" name="srv_close_ticket_comment_form">
</div>

<div id="setDelay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="setDelayLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="setDelayLabel">Отложить заявку</h3>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" id="setDelayForm" name="setDelayForm">
      <fieldset>

        <input type="hidden"  id="inputDelayRoot" name="inputDelayRoot" value=<%= @ticket.root %> >
        <input type="hidden"  id="inputDelayTicket" name="inputDelayTicket" value=<%= @ticket.id %> >

        <div class="control-group">
          <label class="control-label" for="inputDelayDate">Дата</label>
          <div class="controls">
            <input type="text" id="inputDelayDate" name="inputDelayDate" class="input-small" >
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputDelayTime">Время</label>
          <div class="controls">
            <input type="text" id="inputDelayTime" name="inputDelayTime" class="input-small" value="00:00">
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="inputDelayComment">Комментарий</label>
          <div class="controls">
            <textarea rows="7" id="inputDelayComment" name="inputDelayComment"  style="width:95%;"></textarea>
          </div>
        </div>


      </fieldset>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Применить1</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
      </div>

    </form>

  </div>

</div>
