<%= javascript_include_tag "ticket_edit_u" %>


<%= debug @comments %>

<form class="form-horizontal" id="ticket_edit_u" novalidate="">

  <fieldset>

    <div class="control-group">
      <label class="control-label" for="inputInit">Инициатор</label>
      <div class="controls">
        <input type="text"  id="inputInit" name="inputInit" style="width:70%;" readonly="readonly" value=<%= @initiator.login %> >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputIsp">Исполнитель</label>
      <div class="controls">
        <input type="text"  id="inputIsp" name="inputIsp" style="width:70%;" readonly="readonly" value=<%= @user.login %> >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;" readonly="readonly" value=<%= @user_ticket.topic %> >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <textarea rows="7" id="inputText" name="inputText" style="width:70%;" readonly="readonly" ><%= @user_ticket.text %></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDateTo">Исполнить до</label>
      <div class="controls">
        <input type="text" id="inputDateTo" name="inputDateTo"  readonly="readonly" value=<%= @user_ticket.deadline %> >
      </div>
    </div>


  </fieldset>
</form>


