<%= javascript_include_tag "ticket_new" %>




<form class="form-horizontal" id="ticket_new" novalidate="">

  <fieldset>
    <i class="icon-search"></i>
    <div class="control-group">
      <label class="control-label" for="inputIsp">Исполнитель</label>
      <div class="controls">
        <select  id="inputIsp" name="inputIsp">
          <option>-Группы-</option>
          <% @groups.each do |group| %>
              <option><%= group.name %></option>
          <% end %>
            <option>-Пользователи-</option>
          <% @users.each do |user| %>
              <option><%= user.f_name %><%= user.i_name %><%= user.o_name %></option>
          <% end %>

        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputLogin">Тема</label>
      <div class="controls">
        <input type="text"  id="inputLogin" name="inputLogin" style="width:70%;">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputF">Текст</label>
      <div class="controls">
        <textarea rows="7" id="inputF" name="inputF" style="width:70%;">  </textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDateTo">Исполнить до</label>
      <div class="controls">
        <input type="text" id="inputDateTo" name="inputDateTo" >
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>