<%= javascript_include_tag "main" %>
<%= javascript_include_tag "ticket_edit_g" %>

<form class="form-horizontal" id="ticket_edit_u" novalidate="">

  <fieldset>

    <div class="control-group">
      <label class="control-label" for="inputInit">Инициатор</label>
      <div class="controls">
        <input type="text"  id="inputInit" name="inputInit" style="width:70%;" readonly="readonly" value="<%= @initiator.login %>" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputIsp">Исполнитель</label>
      <div class="controls">
        <input type="text"  id="inputIsp" name="inputIsp" style="width:70%;" readonly="readonly" value="<%= @group.name %>" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;" readonly="readonly" value="<%= @ticket.topic %>" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <div class="well" style="width:70%;"  ><%== @ticket.text %></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDateTo">Исполнить до</label>
      <div class="controls">
        <input type="text" id="inputDateTo" name="inputDateTo"  readonly="readonly" value=<%= @ticket.deadline.strftime("%d.%m.%Y") %> >
      </div>
    </div>

    <% if @ticket.executor == session[:user_id] || @group.leader == session[:user_id] %>
        <div class="control-group">
          <label class="control-label" for="inputCompleted">% выполнения</label>
          <div class="controls">
            <%= select_tag(:inputCompleted,options_for_select([['0%', 0],['10%', 10],['20%', 20],['30%', 30],['40%', 40],['50%', 50],['60%', 60],['70%', 70],['80%', 80],['90%', 90],['100%', 100]],@ticket.completed),
                           ) %>
            <button type="button" class="btn" onclick="change_status(<%= @ticket.id %>)" >Сохранить</button>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="inputActual">Текущая задача</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="inputActual" name="inputActual"  onclick="change_actual(<%= @ticket.id %>)"
             <% if ActualTask.is_actual_g(session[:user_id], @ticket.id) == true %>
               checked = "checked"
             <% end %>
          >
        </label>
      </div>
    </div>


    <% if @group.leader == session[:user_id] %>
        <div class="control-group">
          <label class="control-label" for="inputCompleted">Назначить исполнителя</label>
          <div class="controls">

            <%== (@ticket.executor == 0)?"<span class='label label-important'>Не назначен</span>":"" %>
            <%
              users = UserByGroup.users_in_group(@group.id)
              categores = users.map { |user| [user.login, user.id] }
            %>

            <%= select_tag(:executor, options_for_select(categores, @ticket.executor) ) %>
            <button type="button" class="btn" onclick="change_executor_leader(<%= @ticket.id %>)">Сохранить</button>
          </div>
        </div>

    <% else %>
        <% if @ticket.executor == 0 %>
            <div class="control-group">
              <label class="control-label" for="inputCompleted">Назначить исполнителя</label>
              <div class="controls">
                <button type="button" class="btn btn-success" onclick="change_executor_member(<%= @ticket.id %>)">Принять задачу в исполнение</button>
              </div>
            </div>
        <% end %>
    <% end %>

  </fieldset>
</form>



<h4>Комментарии:</h4>

<form class="form-horizontal">



  <% @comments.each do |comment| %>
      <div class="control-group">
        <label class="control-label" for="inputCommText"><%= User.find(comment.user_id).login %><br /><%= comment.created_at.strftime("%d-%m-%Y %H:%M:%S") %></label>
        <div class="controls">
          <div><%== comment.text %> </div>
        </div>
      </div>
  <% end %>

</form>


<form class="form-horizontal" id="comment_new" novalidate="">

  <fieldset>

    <input type="hidden"  id="ticket_id" name="ticket_id" value=<%= @ticket.id %> >

    <div class="control-group">
      <label class="control-label" for="inputCommText">Добавить комментарий</label>
      <div class="controls">
        <textarea rows="7" id="inputCommText" name="inputCommText"  style="width:70%;"></textarea>
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Добавить комментарий</button>
      </div>
    </div>

  </fieldset>
</form>


