<td> <%== @tpl_str_data[:icon_incl] %><%= @tpl_str_data[:user_data].f_name %> <%= @tpl_str_data[:user_data].i_name %> <%= @tpl_str_data[:user_data].o_name %> (<%= @tpl_str_data[:user_data].login %>)</td>

<td>  <span class='label label-info'><%= @tpl_str_data[:executor_data].login %></span>   </td>
  <td style="cursor: pointer" onclick="ticket_open('u', <%= @tpl_str_data[:child].id %>)" ><%= @tpl_str_data[:child].topic %></td>
  <td></td>
  <td><%= @tpl_str_data[:child].created_at.strftime("%d-%m-%Y") %></td>
  <td>
    <a class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/u_<%= @tpl_str_data[:child].id %>"><i class="icon-edit"></i></a>
    <span class="badge" ><%= TicketComment.where("ticket_to_user_id = ?", @tpl_str_data[:child].id).count %></span>
    <span class="badge" ><%= @tpl_str_data[:child].completed %>%</span>

  </td>
</tr>
