<td colspan="2"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<%= user_data.f_name %> <%= user_data.i_name %> <%= user_data.o_name %> (<%= user_data.login %>)</td>
<td
<% if group_data.leader == session[:user_id] %>
style="cursor: pointer" href="#myModal"  data-toggle="modal" onclick="group_list(<%= child_1.group_id %>, <%= child_1.id %>)"
<% end %>
>
  <%= group_data.abbreviation %><%== (child_1.executor == 0)?" <span class='label label-important'>(не назначен)</span> ":"  <span class='label label-success'>#{executor_data.login}</span>" %>
</td>
<td style="cursor: pointer" onclick="ticket_open('g', <%= child_1.id %>)" ><%= child_1.topic %></td>
<td>
  <% ActualTask.where("ticket_to_group_id = ?", child_1.id).each do |task| %>
      <%= User.find(task.user_id).login %> <br />
  <% end %>
</td>
<td><%= child_1.created_at.strftime("%d-%m-%Y") %></td>
<td>
  <a  class="btn btn-mini btn-primary" type="button" href="/tickets/ticket_edit/g_<%= child_1.id %>"><i class="icon-edit"></i></a>
  <span class="badge" ><%= TicketComment.where("ticket_to_group_id = ?", child_1.id).count %></span>
  <span class="badge" ><%= child_1.completed %>%</span>
</td>
</tr>
