<%= javascript_include_tag "admin/user_edit" %>




<form class="form-horizontal" id="user_edit" novalidate="">

    <fieldset>
        <div class="control-group">
        <label class="control-label" for="inputId">id</label>
        <div class="controls">
          <input type="text" id="inputId" name="inputId" value="<%= @user_f.id %>" readonly="readonly">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputLogin">Login</label>
        <div class="controls">
          <input type="text"  id="inputLogin" name="inputLogin" value="<%= @user_f.login %>">
        </div>
        </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="text"  id="inputPassword" name="inputPassword" value="<%= @user_f.password %>" disabled="disabled">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputF">Фамилия</label>
        <div class="controls">
          <input type="text" id="inputF" name="inputF" value="<%= @user_f.f_name %>">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputI">Имя</label>
        <div class="controls">
          <input type="text" id="inputI" name="inputI" value="<%= @user_f.i_name %>">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="inputO">Отчество</label>
        <div class="controls">
          <input type="text" id="inputO" name="inputO" value="<%= @user_f.o_name %>">
        </div>
        </div>

      <div class="control-group">
        <label class="control-label" for="inputPosition">Должность</label>
        <div class="controls">
          <input type="text" id="inputPosition" name="inputPosition" value="<%= @user_f.position %>">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputDepartment">Подразделение</label>
        <div class="controls">
          <input type="text" id="inputDepartment" name="inputDepartment" value="<%= @user_f.department %>">
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="inputEmail">E-mail</label>
        <div class="controls">
          <input type="text" id="inputEmail" name="inputEmail" value="<%= @user_f.email %>">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputTicketEmail">Ticket E-mail</label>
        <div class="controls">
          <input type="text" id="inputTicketEmail" name="inputTicketEmail" value="<%= @user_f.ticket_email %>">
        </div>
      </div>

       <div class="control-group">
        <label class="control-label" for="inputTicketEmailPassword">Ticket E-mail password</label>
        <div class="controls">
          <input type="text" id="inputTicketEmailPassword" name="inputTicketEmailPassword" value="<%= @user_f.ticket_email_password %>">
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Сохранить</button>
        </div>
        </div>

    </fieldset>
</form>
