<%= javascript_include_tag "admin/user_new_ldap" %>

<%
    require 'net/ldap'
    j = ActiveSupport::JSON
    ldap = Net::LDAP.new :host => '192.168.0.17',
      :port => 389,
      :auth => {
            :method => :simple,
            :username => "ticket@wood.local",
            :password => "ticket"
      }
%>

<form class="form-horizontal" name="user_new_ldap" id="user_new_ldap">





  <table class="table table-hover table-bordered table-condensed">

  <thead>
  <tr>
    <th class="span1"></th>
    <th class="span2">Имя</th>
    <th>Отчество</th>
    <th>login</th>
    <th>E-mail</th>
    <th>Должность</th>
  </tr>
  </thead>
  <tbody>



<%
    filter = Net::LDAP::Filter.eq("sAMAccountName", "*")
    attrs = ["givenName", "sn", "physicalDeliveryOfficeName", "sAMAccountName", "mail", "title"]
    i = 0
    ldap.search(:base => "OU=WUsers,DC=wood,DC=local", :attributes => attrs, :filter =>  filter, :return_result => false) do |entry|
        i+=1

        givenName = ""
        sn = ""
        username = ""
        sAMAccountName = ""
        office = ""
        mail = ""
        title = ""

        givenName = entry.try(:givenName).to_s.strip.sub(/(\[\")/,'').sub(/(\"\])/,'')
        sn = entry.try(:sn).to_s.strip.sub(/(\[\")/,'').sub(/(\"\])/,'')
        #username = entry.try(:username).to_s.strip
        sAMAccountName = entry.try(:sAMAccountName).to_s.strip.sub(/(\[\")/,'').sub(/(\"\])/,'')
        #office = entry.try(:office).to_s.strip
        mail = entry.try(:mail).to_s.strip.sub(/(\[\")/,'').sub(/(\"\])/,'')
        title = entry.try(:title).to_s.strip.sub(/(\[\")/,'').sub(/(\"\])/,'')

        user_array = {
            'givenName' => givenName,
            "sn" => sn,
            "sAMAccountName" => sAMAccountName,
            "mail" => mail,
            "title" => title
        }

%>

      <tr>
        <td><input name="user[<%= j.encode(user_array) %>]" type="checkbox"></td>
        <td><%= sAMAccountName %></td>
        <td><%= sn %></td>
        <td><%= sAMAccountName %></td>
        <td><%= mail %></td>
        <td><%= title %></td>
      </tr>


<%
   end
%>

  </tbody>
</table>


<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn">Сохранить</button>
  </div>
</div>

</fieldset>
</form>