<%= javascript_include_tag "main" %>
<%= javascript_include_tag "plan_edit_task" %>

<form class="form-horizontal" id="ticket_edit_g" novalidate="">
  <fieldset>
    <div class="control-group">
      <label class="control-label">Заявка</label>
      <div class="controls">
        <input type="text" style="width:65%;" value="<%= @form_data[:ticket].topic %>" disabled>
        <a class="btn" href="/tickets/ticket_edit/<%= @form_data[:root].ticket_type %>_<%= @form_data[:ticket].id %>" > <i class="icon-share-alt"></i> </a>
      </div>
    </div>
    <input type="hidden"  id="inputRootTicket" name="inputRootTicket" value="<%= @form_data[:root].id %>" >
  </fieldset>
</form>


<table class="table table-hover table-bordered table-condensed">
  <thead>
      <tr>
        <th class="span5">Исполнитель</th>
        <th class="span3">Начало</th>
        <th class="span3">Окончание</th>
        <th class="span1">Действия</th>
      </tr>
  </thead>
  <tbody>
  <tr>
    <td>
        <% if @form_data[:root].ticket_type == 'g' %>
          <%  @form_data[:group] = Group.where('id = ?', @form_data[:root].to_id)[0] %>
          <% if @form_data[:group].leader == session[:user_id] %>

              <%== (@form_data[:ticket].executor == 0)?"<span class='label label-important'>Не назначен</span>":"<span class='label label-success'>#{User.find(@form_data[:ticket].executor).login}</span>" %>
              <%
                 users = UserByGroup.users_in_group(@form_data[:group].id)
                 categores = users.map { |user| [user.login, user.id] }
              %>
              <%= select_tag(:executor, options_for_select(categores, @form_data[:ticket].executor), { :style => 'margin-bottom: 0px;' } ) %>
          <% else %>
              <% executor = User.find(@form_data[:ticket].executor)  %>
               <span class='label label-success'><%= executor.login %></span>
              <%= executor.f_name %> <%= executor.i_name %> <%= executor.o_name %>
          <% end %>
        <% end %>
    </td>
    <td>
      <div style="margin-bottom: 0px;" id="startSchedulerDiv" class="input-append date">
        <input data-format="dd/MM/yyyy hh:mm" type="text" id="startScheduler" name="startScheduler" value="" >
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </div>
    </td>
    <td>
      <div style="margin-bottom: 0px;" id="stopSchedulerDiv" class="input-append date">
        <input data-format="dd/MM/yyyy hh:mm" type="text" id="stopScheduler" name="stopScheduler" value="" >
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </div>
    </td>
    <td>
      <a  class="btn btn-success" type="button" ><i class="icon-plus"></i></a>
    </td>
  </tr>
  </tbody>
</table>