<%= javascript_include_tag "main" %>
<%= javascript_include_tag "reports" %>


<form class="form-inline" id="activity">

  <label class="control-label" for="inputDateFrom">Отчет за период с:
    <input type="text" id="inputDateFrom" name="inputDateFrom" >
  </label>

  <label class="control-label" for="inputDateTo">&nbsp; по:
    <input type="text" id="inputDateTo" name="inputDateTo" >
  </label>

  <label class="control-label" for="inputIsp">&nbsp; Исполнитель:</label>

    <select  id="inputIsp" name="inputIsp">
        <option id="<%= session[:user_id] %>" name="<%= session[:user_id] %>" value="<%= session[:user_id] %>" ><%= session[:user_login] %></option>
        <% subordinates = UserByGroup.get_subordinates(session[:user_id]) %>
        <% subordinates.each do |subordinate| %>
          <option id="<%= subordinate.id %>" name="<%= subordinate.id %>" value="<%= subordinate.id %>" ><%= subordinate.login %></option>
        <% end  %>
    </select>


  <button class="btn">Сформировать</button>


</form>


<div id="act" name="act">

</div>


 <div id="setDelay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="setDelayLabel" aria-hidden="true">

  <div class="modal-header">
    <h3 id="setDelayLabel">Текст заявки</h3>
  </div>

  <div class="modal-body">
    <div id="ticketText" name="ticketText">

    </div>

  </div>

 </div>

