
<table id="tbl-comments" name="tbl-comments" class="table table-hover table-bordered table-condensed table-striped">
  <caption></caption>
  <thead>

  <tr>
    <th class="span2" >Дата/время</th>
    <th>Заявка / Комментарий</th>
    <th class="span2" >%</th>
  </tr>


  </thead>
  <tbody>

      <% @form_data[:user_comments].each do |comment| %>

        <tr

            <%
               ticket_root = TicketRoot.find(comment.root)
               if ticket_root.ticket_type == 'u'
                 ticket = TicketToUser.find(ticket_root.ticket_id)
               end
               if TicketRoot.find(comment.root).ticket_type == 'g'
                 ticket = TicketToGroup.find(ticket_root.ticket_id)
               end

            %>

            <% if ticket.completed == 100 %>
                class="success"
            <% end %>

        >
          <td> <%= comment.created_at.strftime("%d-%m-%Y %H:%M:%S" ) %></td>
          <td>

            <a target="_blank"  href="/tickets/ticket_edit/<%= ticket_root.ticket_type %>_<%= ticket.id %>"><%= ticket.topic %></a>
            <i class="icon-info-sign" style="cursor: pointer" ></i>
            <br><br>
            <%== comment.text %>
          </td>
          <td>
            <%= ticket.completed %>

          </td>
        </tr>

      <tr
          <% if ticket.completed == 100 %>
          class="success"
          <% end %>
      >


      </tr>


      <% end %>

  </tbody>
</table>



